<div class="tx-newsfilter">
	<f:form action="list" method="POST" name="overwriteDemand" object="{overwriteDemand}" extensionName="News" pluginName="Pi1" controller="News" noCache="TRUE">
		<div class="row form-group">
			<f:if condition="{settings.controls} % 2">
				<div class="col-lg-6">
					<f:form.select property="year" options="{years}" class="form-control" additionalAttributes="{onchange: 'document.forms.overwriteDemand.submit();'}" />
				</div>
			</f:if>
			<f:if condition="{settings.controls} > 1">
				<f:if condition="{settings.controls} != 5">
					<f:if condition="{settings.controls} % 4">
						<div class="col-lg-6">
							<f:form.select property="month" options="{months}" class="form-control" additionalAttributes="{onchange: 'document.forms.overwriteDemand.submit();'}" />
						</div>
					</f:if>
				</f:if>
			</f:if>
		</div>
		<f:if condition="{settings.controls} > 3">
			<div>
				<f:form.select property="categories" options="{categories}" optionLabelField="title" optionValueField="uid" class="form-control" additionalAttributes="{onchange: 'document.forms.overwriteDemand.submit();'}" />
			</div>
		</f:if>
	</f:form>
</div>